@mixin fieldDefaults {
    padding: 5px 10px;
    border: none;
    border-radius: 0;
    min-height: 36px;
    background-color: transparent;
    color: white;

    &:focus-visible {
        outline: none;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;

    input[type="text"],
    textarea {
        @include fieldDefaults;
    }

    select {
        @include fieldDefaults;
        padding: 5px 6px;
    }

    .field-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;

        input[name="title"] {
            @include headingfont;
            font-size: 28px;
            color: $primary;

            &::placeholder {
                color: rgba($primary, .5);
            }
        }
        textarea[name="body"] {
            padding-top: 20px;
        }
    }
}

body.light form {
    input[type="text"],
    textarea {
        color: $dark;
    }
}