@mixin fieldDefaults {
    padding: 0;
    border: none;
    border-radius: 0;
    min-height: 36px;
    background-color: transparent;
    color: white;

    &:focus-visible {
        outline: none;
    }
}

form {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;

    input[type="text"],
    textarea {
        @include fieldDefaults;
    }

    select {
        @include fieldDefaults;
        padding: 5px 6px;
    }

    input[name="title"] {
        @include headingfont;
        font-size: 28px;
        color: $primary;
        padding-bottom: 30px;

        &::placeholder {
            color: rgba($primary, .5);
        }
    }
    textarea[name="body"] {
        line-height: 2;
    }
}

body.light form {
    input[type="text"],
    textarea {
        color: $dark;
    }
}