@mixin fieldDefaults {
    padding: 0;
    border: none;
    border-radius: 0;
    min-height: 36px;
    background-color: transparent;
    color: white;
    width: 100%;

    &:focus-visible {
        outline: none;
    }
}

form {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;

    input[type="text"],
    textarea {
        @include fieldDefaults;
    }

    select {
        @include fieldDefaults;
        padding: 5px 6px;
    }

    input[name="title"] {
        @include headingfont;
        font-size: 24px;
        color: $primary;
        padding-bottom: 30px;

        &::placeholder {
            color: rgba($primary, .5);
        }
    }
    textarea[name="body"] {
        line-height: 2;
    }

    @include breakpoint(sm) {
        input[name="title"] {
            font-size: 18px;
            padding-bottom: 20px;
        } 

        textarea[name="body"] {
            font-size: 14px;
            line-height: 1.75;
        }
    }
}

body.light form {
    input[type="text"],
    textarea {
        color: $dark;
    }
}