body #root #sidebar {
    li {
        .note-actions {
            position: relative;
            z-index: 99;
            padding: 2px 20px 2px 0;
            display: flex;

            > svg.svg-inline--fa {
                position: relative;
                z-index: 99;
                width: 24px;
                height: 28px;
                padding: 4px;
                opacity: 0;
            }
            #overlay {
                position: fixed;
                z-index: 9999;
                inset: 0;
                cursor: default;
            }
            ul {
                position: absolute;
                top: 4px;
                box-shadow: 2px 2px 6px rgba(black, .1);
                z-index: 99999;
                background-color: darken($dark, 10%);
                padding: 12px 15px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                li {
                    display: grid;
                    grid-template-columns: 22px 100px;
                    align-items: center;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
        &:hover {
            .note-actions > svg.svg-inline--fa {
                opacity: 1;
            }
        }
    }
    &.flyout-active nav > ul > li:not(.active) {
        pointer-events: none;
    }
    &.flyout-active nav {
        overflow: visible;
    }

    @include breakpoint(sm) {
        li .note-actions {
            padding: 0;
            > svg.svg-inline--fa {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 14px 0 4px;
                width: 34px;
            }
            ul {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                box-shadow: none;
                padding: 10px;
            }
        }
    }
}